<a href="https://colab.research.google.com/github/santhosharun18/pythonlab/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a Tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

**Tuples allow duplicate values**

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

**Print the number of items in the tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

**Tuple items can be of any data type**

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

**What is the data type of a tuple?**

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

**Using the tuple() method to make a tuple**

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

**Print the second item in the tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

**Print the last item of the tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

**Return the third, fourth, and fifth item**

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

**returns the items from the beginning to, but NOT included, "kiwi"**

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

 **example returns the items from "cherry" and to the end**

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

**returns the items from index -4 (included) to index -1 (excluded)**

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

**Check if "apple" is present in the tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "melon" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

**Convert the tuple into a list to be able to change it**

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Convert the tuple into a list, add "orange", and convert it back into a tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

**Create a new tuple with the value "orange", and add that tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

**Convert the tuple into a list, remove "apple", and convert it back into a tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

**The del keyword can delete the tuple completely**

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

**Unpacking a tuple**

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

**Assign the rest of the values as a list called "red"**

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

**Add a list of values the "tropic" variable**

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

**Iterate through the items and print the values**

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

**Print all items by referring to their index number**

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

**Print all items, using a while loop to go through all the index numbers**

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

**Join two tuples**

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

**Multiply the fruits tuple by 2**

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)